.logo {
  font-family: "Dancing Script", cursive;
  font-size: 42px;
  color: #ca115b;
  letter-spacing: 2px;
}
.left-image {
   position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); 
  padding-left: 100px;/* adjust to perfect center */
}

.left-image img {
   width: 400px;  /* increase size */
  height: auto;
}
